<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ExpressUnitConfiguration" type="ExpressUnit.ExpressUnitConfigurationSection,ExpressUnit"/>
  </configSections>

  <ExpressUnitConfiguration runTestsOnStartup="true" degreeOfParallelism="1">
    <webTestSettings startUrl="http://portland/" seleniumHost="localhost" seleniumPort="4444" browser="*firefox3">
    </webTestSettings>
  </ExpressUnitConfiguration>
</configuration>