<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
      <section name="ExpressUnitConfiguration" type="ExpressUnit.ExpressUnitConfigurationSection,ExpressUnit"/>
  </configSections>

  <ExpressUnitConfiguration runTestsOnStartup="false" degreeOfParallelism="8">
    <webTestSettings startUrl="http://localhost/Movie/" seleniumHost="192.168.1.2" seleniumPort="4444" browser="*firefox">
    </webTestSettings>
  </ExpressUnitConfiguration>
  
</configuration>